{% extends 'base.html' %}
{% load static %}
{% block title %}Editar Fornecedor{% endblock %}
{% block content %}

<style>
    table {
        border-collapse: collapse;
    }
    table td, table th {
        border: none;
    }
</style>

<div class="actions" style="display: flex; align-items: flex-start; height: 5vh;">
    <a href="{% url 'CadFornecedor' %}" class="action-link">Voltar</a>
</div>

        <h1 style="text-align: center;">Editar Fornecedor</h1>
        
        <form method="post" enctype="multipart/form-data" class="mt-3">
            {% csrf_token %}

            <table>
                <!-- Primeira linha  -->
                <tr>
                    <td colspan="3">
                        <div class="mb-3">
                            {{ form.fornecedor.label_tag }}
                            {{ form.fornecedor }}
                            {{ form.fornecedor.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.fornecedor_fone.label_tag }}
                            {{ form.fornecedor_fone }}
                            {{ form.fornecedor_fone.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.fornecedor_site.label_tag }}
                            {{ form.fornecedor_site }}
                            {{ form.fornecedor_site.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.fornecedor_email.label_tag }}
                            {{ form.fornecedor_email }}
                            {{ form.fornecedor_email.errors }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="mb-3">
                            {{ form.rua.label_tag }}
                            {{ form.rua }}
                            {{ form.rua.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.numero.label_tag }}
                            {{ form.numero }}
                            {{ form.numero.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.bairro.label_tag }}
                            {{ form.bairro }}
                            {{ form.bairro.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.cidade.label_tag }}
                            {{ form.cidade }}
                            {{ form.cidade.errors }}
                        </div>
                    </td>
        
        
                </tr>
                <tr>
                    <td>
                        <div class="mb-3">
                            {{ form.estado.label_tag }}
                            {{ form.estado }}
                            {{ form.estado.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.cep.label_tag }}
                            {{ form.cep }}
                            {{ form.cep.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.contato.label_tag }}
                            {{ form.contato }}
                            {{ form.contato.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.cnpj.label_tag }}
                            {{ form.cnpj }}
                            {{ form.cnpj.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.inscricao_estadual.label_tag }}
                            {{ form.inscricao_estadual }}
                            {{ form.inscricao_estadual.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.prazo_entrega_medio.label_tag }}
                            {{ form.prazo_entrega_medio }}
                            {{ form.prazo_entrega_medio.errors }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="mb-3">
                            {{ form.observacoes.label_tag }}
                            {{ form.observacoes }}
                            {{ form.observacoes.errors }}
                        </div>
                    </td>
                </tr>
            </table>
            

            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
        
{% endblock %}