{% extends 'base.html' %}  <!-- Assumindo que você tem um template base -->
{% load static %}
{% block title %}Gestão de usuários{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
    .status-icon {
        margin-left: 5px;
    }

    th {
        font-size: 20px;
        text-align: center;
    }
</style>

<div class="top-side">
    <h1 style="text-align: left; margin-left: 40px;">Gestão de Usuários Pendentes</h1>
    <a href="{% url 'criar_usuario' %}" class="custom-button">Novo Usuário</a>
</div>

<table class="tabela-sem-divisoes" style="border: none">
    <form method="GET" action="{% url 'listar_usuarios_pendentes' %}">
        <!-- Filtro: Nome do Fornecedor -->
        <td style="width: 25%">
            <div>
                <label for="fornecedor">Nome do usuário:</label>
                <input type="text" name="usuario" id="usuario" placeholder="Digite o nome do usuário">
            </div>
        </td>
    
        <!-- Filtro: Email -->
        <td style="width: 25%">
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="Digite o email">
            </div>
        </td>
    
        <td style="width: 20%">
            <div class="col-md-3">
                <select name="status" class="form-control">
                    <option value="">Todos os Status</option>
                    <option value="aprovados" {% if status == 'aprovados' %}selected{% endif %}>Aprovados</option>
                    <option value="nao_aprovados" {% if status == 'nao_aprovados' %}selected{% endif %}>Não Aprovados</option>
                </select>
            </div>
        </td>
    
        <!-- Botão "Filtrar" -->
        <td style="width: 10%">
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>
        </td>
    </form>
</table>

<table>
    <thead>
        <tr>
            <th>Usuário</th>
            <th>Email</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in pendentes %}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                {{ usuario.is_approved|yesno:"Aprovado,Não Aprovado" }}
                {% if usuario.is_approved %}
                    <i class="fas fa-check-circle status-icon" style="color: green;"></i>
                {% else %}
                    <i class="fas fa-times-circle status-icon" style="color: red;"></i>
                {% endif %}
            </td>
            <td style="text-align: center;">
                <a href="{% url 'editar_usuario_pendente' usuario.pk %}" class="custom-button table-button">Editar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum usuário pendente encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}