{% extends 'base.html' %}
{% block title %}Confirmar Exclusão{% endblock %}
{% block content %}
<div class="container text-center mt-5">
    <h2>Confirmação de Exclusão</h2>
    <p>Tem certeza de que deseja excluir o equipamento <strong>{{ equipamento.nome }}</strong>?</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'CadEquip' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
