{% extends 'base.html' %}
{% load static %}
{% block title %}Criar equipamento!{% endblock %}
{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .selected-fornecedor {
            background-color: #d9edf7;
            font-weight: bold;
        }
    </style>

    <div class="actions" style="display: flex; align-items: flex-start; height: 5vh;">
        <a href="{% url 'CadEquip' %}" class="action-link">Voltar</a>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}



    <div class="container d-flex flex-column justify-content-start align-items-center">
        <h1 class="text-center mb-4">Cadastro equipamentos</h1>
        <form id="equipamentoForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}

        <!-- Campo oculto para o fornecedor -->
        <input type="hidden" name="fornecedor" id="fornecedorId">

            <table>
                <!-- Primeira linha  -->
                <tr>
                    <td>
                        <div class="mb-3">
                            {{ form.nome.label_tag }}
                            {{ form.nome }}
                            {{ form.nome.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.modelo.label_tag }}
                            {{ form.modelo }}
                            {{ form.modelo.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.fabricante.label_tag }}
                            {{ form.fabricante }}
                            {{ form.fabricante.errors }}
                        </div>
                    </td>
                </tr>
            </table>

            <table>
                <!-- Segunda linha com 4 colunas -->
                <tr>
                    <td>
                        <div class="mb-3">
                            {{ form.tag.label_tag }}
                            {{ form.tag }}
                            {{ form.tag.errors }}
                        </div>
                    </td>

                    <td>
                        <div class="mb-3">
                            {{ form.patrimonio.label_tag }}
                            {{ form.patrimonio }}
                            {{ form.patrimonio.errors }}
                        </div>
                    </td>

                    <td>
                        <div class="mb-3">
                            {{ form.local.label_tag }}
                            {{ form.local }}
                            {{ form.local.errors }}
                        </div>   
                    </td>

                    <td>
                        <div class="mb-3">
                            {{ form.numero_serie.label_tag }}
                            {{ form.numero_serie }}
                            {{ form.numero_serie.errors }}
                        </div>                        
                    </td>

                    <td>
                        <div class="mb-3">
                            {{ form.setor.label_tag }}
                            {{ form.setor }}
                            {{ form.setor.errors }}
                        </div>
                    </td>

                    <td>
                        <div class="mb-3">
                            {{ form.ano_fabricacao.label_tag }}
                            {{ form.ano_fabricacao }}
                            {{ form.ano_fabricacao.errors }}
                        </div>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <!-- Botão para abrir modal de equipamentos -->
                        <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#fornecedorModal">
                         Adicionar Fornecedor
                         </button>
                    </td>
                    <td>                   
                        <div id="fornecedorDisplay" class="mt-3">
                         Nenhum fornecedor selecionado.
                        </div>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <div class="mb-3">
                            {{ form.foto.label_tag }}
                            {{ form.foto }}
                            {{ form.foto.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.manual_operacao.label_tag }}
                            {{ form.manual_operacao }}
                            {{ form.manual_operacao.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.garantia_termino.label_tag }}
                            {{ form.garantia_termino }}
                            {{ form.garantia_termino.errors }}
                        </div>
                    </td>
                </tr>
            </table>

            <!-- Trecho de exibição dos dados do fornecedor -->
            <table id="fornecedorDetails" style="display: none;" class="table mt-3">
                <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Nome</td><td id="fornecedorNome"></td></tr>
                    <tr><td>Telefone</td><td id="fornecedorFone"></td></tr>
                    <tr><td>Site</td><td id="fornecedorSite"></td></tr>
                    <tr><td>Email</td><td id="fornecedorEmail"></td></tr>
                    <tr><td>Endereço</td><td id="fornecedorEndereco"></td></tr>
                    <tr><td>CNPJ</td><td id="fornecedorCnpj"></td></tr>
                    <tr><td>Contato</td><td id="fornecedorContato"></td></tr>
                </tbody>
            </table>


            <table>
                <tr>
                    <td>
                        <div class="mb-3">
                            {{ form.ssma.label_tag }}
                            {{ form.ssma }}
                            {{ form.ssma.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.qualidade.label_tag }}
                            {{ form.qualidade }}
                            {{ form.qualidade.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.operacao.label_tag }}
                            {{ form.operacao }}
                            {{ form.operacao.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.entrega.label_tag }}
                            {{ form.entrega }}
                            {{ form.entrega.errors }}
                        </div>
                    </td>

                    <td>
                        <div class="mb-3">
                            {{ form.mtbf.label_tag }}
                            {{ form.mtbf }}
                            {{ form.mtbf.errors }}
                        </div>
                    </td>

                    <td>
                        <div class="mb-3">
                            {{ form.mttr.label_tag }}
                            {{ form.mttr }}
                            {{ form.mttr.errors }}
                        </div>
                    </td>
                </tr>
            </table>


            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>

        <!-- Modal de Seleção de Fornecedores -->
        <div class="modal fade" id="fornecedorModal" tabindex="-1" aria-labelledby="fornecedorModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="fornecedorModalLabel">Selecionar Fornecedor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Filtro de Pesquisa -->
                        <input type="text" id="fornecedorSearch" class="form-control mb-3" placeholder="Pesquisar por nome">

                        <ul id="fornecedorList" class="list-group">
                            {% for fornecedor in fornecedores %}
                            <li class="list-group-item fornecedor-list-item" 
                                data-id="{{ fornecedor.id }}" 
                                data-nome="{{ fornecedor.fornecedor }}"
                                data-fone="{{ fornecedor.fornecedor_fone }}"
                                data-site="{{ fornecedor.fornecedor_site|default:'' }}"
                                data-email="{{ fornecedor.fornecedor_email|default:'' }}"
                                data-rua="{{ fornecedor.rua|default:'' }}"
                                data-numero="{{ fornecedor.numero|default:'' }}"
                                data-cidade="{{ fornecedor.cidade|default:'' }}"
                                data-estado="{{ fornecedor.estado|default:'' }}"
                                data-cnpj="{{ fornecedor.cnpj|default:'' }}"
                                data-contato="{{ fornecedor.contato|default:'' }}">
                                {{ fornecedor.fornecedor }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" id="selectFornecedorBtn">Selecionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.getElementById('fornecedorSearch');
            const fornecedorList = document.getElementById('fornecedorList');
            const selectFornecedorBtn = document.getElementById('selectFornecedorBtn');
            const fornecedorId = document.getElementById('fornecedorId'); // Atualizado
            const fornecedorSelect = document.querySelector('#id_fornecedor'); // Campo select no formulário
            const fornecedorHidden = document.getElementById('fornecedor-hidden'); // Campo hidden para armazenar o fornecedor selecionado
            const fornecedorDisplay = document.getElementById('fornecedorDisplay');
            const fornecedorDetails = document.getElementById('fornecedorDetails');
            const fornecedorFields = {
                nome: document.getElementById('fornecedorNome'),
                fone: document.getElementById('fornecedorFone'),
                site: document.getElementById('fornecedorSite'),
                email: document.getElementById('fornecedorEmail'),
                endereco: document.getElementById('fornecedorEndereco'),
                cnpj: document.getElementById('fornecedorCnpj'),
                contato: document.getElementById('fornecedorContato'),
            };
            let selectedFornecedor = null;
    
            // Função de pesquisa de fornecedores
            searchInput.addEventListener('input', function () {
                const searchTerm = this.value.toLowerCase();
                const items = fornecedorList.getElementsByClassName('fornecedor-list-item');
    
                Array.from(items).forEach(item => {
                    const nome = item.getAttribute('data-nome').toLowerCase();
    
                    if (nome.includes(searchTerm)) {
                        item.style.display = '';
                    } else {
                        item.style.display = 'none';
                    }
                });
            });
    
            // Função para selecionar fornecedor ao clicar na lista
            fornecedorList.addEventListener('click', function (event) {
                const clickedItem = event.target.closest('.fornecedor-list-item');
    
                if (clickedItem) {
                    // Remove a seleção anterior, se houver
                    const previousSelected = fornecedorList.querySelector('.selected-fornecedor');
                    if (previousSelected) {
                        previousSelected.classList.remove('selected-fornecedor');
                    }
    
                    // Marca o item como selecionado
                    clickedItem.classList.add('selected-fornecedor');
                    selectedFornecedor = {
                        id: clickedItem.getAttribute('data-id'),
                        nome: clickedItem.getAttribute('data-nome'),
                        fone: clickedItem.getAttribute('data-fone'),
                        site: clickedItem.getAttribute('data-site'),
                        email: clickedItem.getAttribute('data-email'),
                        rua: clickedItem.getAttribute('data-rua'),
                        numero: clickedItem.getAttribute('data-numero'),
                        cidade: clickedItem.getAttribute('data-cidade'),
                        estado: clickedItem.getAttribute('data-estado'),
                        cnpj: clickedItem.getAttribute('data-cnpj'),
                        contato: clickedItem.getAttribute('data-contato'),
                    };
    
                    // Atualiza o display do fornecedor selecionado
                    fornecedorDisplay.textContent = `Fornecedor Selecionado: ${selectedFornecedor.nome}`;
    
                    // Atualiza os detalhes do fornecedor
                    fornecedorFields.nome.textContent = selectedFornecedor.nome;
                    fornecedorFields.fone.textContent = selectedFornecedor.fone;
                    fornecedorFields.site.textContent = selectedFornecedor.site || 'Não informado';
                    fornecedorFields.email.textContent = selectedFornecedor.email || 'Não informado';
                    fornecedorFields.endereco.textContent = `${selectedFornecedor.rua}, Nº ${selectedFornecedor.numero}, ${selectedFornecedor.cidade} - ${selectedFornecedor.estado}`;
                    fornecedorFields.cnpj.textContent = selectedFornecedor.cnpj || 'Não informado';
                    fornecedorFields.contato.textContent = selectedFornecedor.contato || 'Não informado';
    
                    fornecedorDetails.style.display = 'table';
                }
            });
    
            selectFornecedorBtn.addEventListener('click', function () {
                if (selectedFornecedor) {
                    // Adicione um console.log para debug
                    console.log('Fornecedor ID sendo definido:', selectedFornecedor.id);
                    
                    // Defina o valor do campo hidden
                    document.getElementById('fornecedorId').value = selectedFornecedor.id;
                    
                    // Verifique se o valor foi definido
                    console.log('Valor após definição:', document.getElementById('fornecedorId').value);

                    // Atualiza o display
                    fornecedorDisplay.textContent = `Fornecedor Selecionado: ${selectedFornecedor.nome} (ID: ${selectedFornecedor.id})`;

                    // Fechar o modal
                    const modal = bootstrap.Modal.getInstance(document.getElementById('fornecedorModal'));
                    modal.hide();
                } else {
                    alert('Por favor, selecione um fornecedor');
                }
            });
        });

        // Adicione uma verificação antes do submit
        document.getElementById('equipamentoForm').addEventListener('submit', function(e) {
            // Adicione um console.log para debug
            console.log('Valor do fornecedor no submit:', document.getElementById('fornecedorId').value);
        });
    </script>
    
    
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
