{% extends "base.html" %}
{% load static %}
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
    .selected-fornecedor {
        background-color: #d9edf7;
        font-weight: bold;
    }
    .hidden-table {
        display: none;
    }
    .visible-table {
        display: table;
    }
</style>

<div class="actions" style="display: flex; justify-content: flex-end; align-items: center; height: 5vh;">
    <a href="{% url 'cadEstoque' %}" class="action-link">Voltar</a>
    <a href="{% url 'login' %}" class="action-link">Sair</a>
</div>

<div class="container d-flex flex-column justify-content-start align-items-center">

    <h2>Editar Peça</h2>
    <form method="post" enctype="multipart/form-data" class="mt-3">
        {% csrf_token %}

        <!-- Campo oculto para o fornecedor -->
        <input type="hidden" name="fornecedor" id="fornecedorId">


            <table>
                <!-- Primeira linha  -->
                <tr>
                    <td>
                        <div class="mb-3">
                            {{ form.descricao.label_tag }}
                            {{ form.descricao }}
                            {{ form.descricao.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.codigo.label_tag }}
                            {{ form.codigo }}
                            {{ form.codigo.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.preco.label_tag }}
                            {{ form.preco }}
                            {{ form.preco.errors }}
                        </div>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <div class="mb-3">
                            {{ form.unidade_medida.label_tag }}
                            {{ form.unidade_medida }}
                            {{ form.unidade_medida.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.localizacao.label_tag }}
                            {{ form.localizacao }}
                            {{ form.localizacao.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.data_ultima_compra.label_tag }}
                            {{ form.data_ultima_compra }}
                            {{ form.data_ultima_compra.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.vida_util.label_tag }}
                            {{ form.vida_util }}
                            {{ form.vida_util.errors }}
                        </div>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#fornecedorModal">
                            Alterar Fornecedor
                        </button>
                    </td>
                    <td>                   
                <!-- Exibição do fornecedor selecionado -->
                <div id="fornecedorDisplay" class="mt-5">
                    <h5>Fornecedor Associado</h5>
                    {% if fornecedor_selecionado %}
                        <p><strong>Nome:</strong> {{ fornecedor_selecionado.fornecedor }}</p>
                    {% else %}
                        <p>Nenhum fornecedor associado a este equipamento.</p>
                    {% endif %}
                </div>
                </td> 
                </tr>
            </table>

            <table id="fornecedorDetails" class="table mt-3 {% if fornecedor_selecionado %}visible-table{% else %}hidden-table{% endif %}">
                <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><strong>Nome:</strong></td><td id="fornecedorNome">{{ fornecedor_selecionado.fornecedor }}</td>
                    <td><strong>Telefone:</strong></td><td id="fornecedorFone">{{ fornecedor_selecionado.fornecedor_fone }}</td>
                    <td><strong>Site:</strong></td><td id="fornecedorSite">{{ fornecedor_selecionado.fornecedor_site }}</td></tr>
                    <tr><strong><td>Email:</strong></td><td id="fornecedorEmail">{{ fornecedor_selecionado.fornecedor_email }}</td>
                    <td><strong>Rua:</strong></td><td id="fornecedorRua">{{ fornecedor_selecionado.rua }}</td>
                    <td><strong>Número:</strong></td><td id="fornecedorRua">{{ fornecedor_selecionado.numero }}</td></tr>
                    <tr><strong><td>Cidade:</strong></td><td id="fornecedorRua">{{ fornecedor_selecionado.cidade }}</td>
                    <td><strong>CEP:</strong></td><td id="fornecedorRua">{{ fornecedor_selecionado.cep }}</td>    
                    <td><strong>CNPJ</strong></td><td id="fornecedorCnpj">{{ fornecedor_selecionado.cnpj }}</td></tr>
                    <tr><td><strong>Contato:</strong></td><td id="fornecedorContato">{{ fornecedor_selecionado.contato }}</td></tr>
                </tbody>
            </table>

            <table>
                <tr>
                    <td>
                        <div class="mb-3">
                            {{ form.estoque_minimo.label_tag }}
                            {{ form.estoque_minimo }}
                            {{ form.estoque_minimo.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.estoque_atual.label_tag }}
                            {{ form.estoque_atual }}
                            {{ form.estoque_atual.errors }}
                        </div>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <div class="mb-3">
                            {{ form.orcamentos.label_tag }}
                            {{ form.orcamentos }}
                            {{ form.orcamentos.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="mb-3">
                            {{ form.foto.label_tag }}
                            {{ form.foto }}
                            {{ form.foto.errors }}
                        </div>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <div class="mb-3">
                            {{ form.observacoes.label_tag }}
                            {{ form.observacoes }}
                            {{ form.observacoes.errors }}
                        </div>
                    </td>
                </tr>
            </table>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
    </form>

    <div class="modal fade" id="fornecedorModal" tabindex="-1" aria-labelledby="fornecedorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fornecedorModalLabel">Selecionar Fornecedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="fornecedorSearch" class="form-control mb-3" placeholder="Pesquisar por nome">

                    <ul id="fornecedorList" class="list-group">
                        {% for fornecedor in fornecedores %}
                        <li class="list-group-item fornecedor-list-item" 
                            data-id="{{ fornecedor.id }}" 
                            data-nome="{{ fornecedor.fornecedor }}"
                            data-fone="{{ fornecedor.fone }}"
                            data-site="{{ fornecedor.site }}"
                            data-email="{{ fornecedor.email }}"
                            data-rua="{{ fornecedor.rua }}"
                            data-numero="{{ fornecedor.numero }}"
                            data-cidade="{{ fornecedor.cidade }}"
                            data-cep="{{ fornecedor.cep }}"
                            data-estado="{{ fornecedor.estado }}"
                            data-cnpj="{{ fornecedor.cnpj }}"
                            data-contato="{{ fornecedor.contato }}">
                            {{ fornecedor.fornecedor }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="selectFornecedorBtn">Selecionar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('fornecedorSearch');
        const fornecedorList = document.getElementById('fornecedorList');
        const selectFornecedorBtn = document.getElementById('selectFornecedorBtn');
        const fornecedorId = document.getElementById('fornecedorId');
        const fornecedorDisplay = document.getElementById('fornecedorDisplay');
        const fornecedorDetails = document.getElementById('fornecedorDetails');
        let selectedFornecedor = null;

        if (fornecedorId.value) {
            const fornecedorItem = fornecedorList.querySelector(`[data-id="${fornecedorId.value}"]`);
            if (fornecedorItem) {
                selectedFornecedor = {
                    id: fornecedorItem.getAttribute('data-id'),
                    nome: fornecedorItem.getAttribute('data-nome'),
                    fone: fornecedorItem.getAttribute('data-fone'),
                    site: fornecedorItem.getAttribute('data-site'),
                    email: fornecedorItem.getAttribute('data-email'),
                    rua: fornecedorItem.getAttribute('data-rua'),
                    numero: fornecedorItem.getAttribute('data-numero'),
                    cidade: fornecedorItem.getAttribute('data-cidade'),
                    cep: fornecedorItem.getAttribute('data-cep'),
                    estado: fornecedorItem.getAttribute('data-estado'),
                    cnpj: fornecedorItem.getAttribute('data-cnpj'),
                    contato: fornecedorItem.getAttribute('data-contato')
                };
                fornecedorItem.classList.add('selected-fornecedor');
            }
        }


        searchInput.addEventListener('input', function () {
            const searchTerm = this.value.toLowerCase();
            const items = fornecedorList.getElementsByClassName('fornecedor-list-item');

            Array.from(items).forEach(item => {
                const nome = item.getAttribute('data-nome').toLowerCase();
                if (nome.includes(searchTerm)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        });

        fornecedorList.addEventListener('click', function (event) {
            const clickedItem = event.target.closest('.fornecedor-list-item');

            if (clickedItem) {
                const previousSelected = fornecedorList.querySelector('.selected-fornecedor');
                if (previousSelected) {
                    previousSelected.classList.remove('selected-fornecedor');
                }

                clickedItem.classList.add('selected-fornecedor');
                selectedFornecedor = {
                    id: clickedItem.getAttribute('data-id'),
                    nome: clickedItem.getAttribute('data-nome'),
                    fone: clickedItem.getAttribute('data-fone'),
                    site: clickedItem.getAttribute('data-site'),
                    email: clickedItem.getAttribute('data-email'),
                    rua: clickedItem.getAttribute('data-rua'),
                    numero: clickedItem.getAttribute('data-numero'),
                    cidade: clickedItem.getAttribute('data-cidade'),
                    cep: clickedItem.getAttribute('data-cep'),
                    estado: clickedItem.getAttribute('data-estado'),
                    cnpj: clickedItem.getAttribute('data-cnpj'),
                    contato: clickedItem.getAttribute('data-contato')
                };

                // Atualiza o campo hidden do fornecedor
                fornecedorId.value = selectedFornecedor.id;

                document.getElementById('fornecedorNome').textContent = selectedFornecedor.nome;
                document.getElementById('fornecedorFone').textContent = selectedFornecedor.fone;
                document.getElementById('fornecedorSite').textContent = selectedFornecedor.site;
                document.getElementById('fornecedorEmail').textContent = selectedFornecedor.email;
                document.getElementById('fornecedorRua').textContent = selectedFornecedor.rua;
                document.getElementById('fornecedorNumero').textContent = selectedFornecedor.numero;
                document.getElementById('fornecedorCidade').textContent = selectedFornecedor.cidade;
                document.getElementById('fornecedorCep').textContent = selectedFornecedor.cep;
                document.getElementById('fornecedorEstado').textContent = selectedFornecedor.estado;
                document.getElementById('fornecedorCnpj').textContent = selectedFornecedor.cnpj;
                document.getElementById('fornecedorContato').textContent = selectedFornecedor.contato;

                fornecedorDisplay.textContent = `Fornecedor Selecionado: ${selectedFornecedor.nome}`;
                fornecedorDetails.style.display = 'table';
            }
        });

        selectFornecedorBtn.addEventListener('click', function () {
            if (selectedFornecedor) {
                fornecedorId.value = selectedFornecedor.id;
                fornecedorDisplay.textContent = `Fornecedor Selecionado: ${selectedFornecedor.nome}`;
                const modalElement = document.getElementById('fornecedorModal');
                const modal = modalElement ? bootstrap.Modal.getInstance(modalElement) : null;
                if (modal) {
                    modal.hide();
                }
            } else {
                alert('Por favor, selecione um fornecedor');
            }
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}